@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Fjalla+One&family=Lilita+One&family=Teko:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

body {
  background: #437faa;
}

.roulette-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .spinBtn {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  border: 4px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
}

.container .spinBtn::before {
  content: "";
  position: absolute;
  top: -28px;
  width: 20px;
  height: 30px;
  background: #fff;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.container .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 5px #333, 0 0 0 15px #115d94, 0 0 0 18px #111;
  transition: transform 5s ease-in-out;
}

.container .wheel .number {
  position: absolute;
  width: 50%;
  height: 50%;
  background: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc((360deg / 37) * var(--i)));
  clip-path: polygon(0 0, 16% 0, 100% 100%, 0 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.container .wheel .number span {
  transform: rotate(45deg);
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  color: white;
  background: #115d94;
}

p {
  position: fixed;
  width: 100%;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
  margin-top: -6rem;
}
